# Environment files
*.env
.env*

# PHP / Laravel files
composer.lock
vendor/

# Octane / Caddy server files
/caddy
frankenphp
frankenphp-worker.php

# Node.js files
dist/
node_modules/

# Iconify
src/@iconify/icons-bundle.js

# Log files
*.log

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# OS garbage
.DS_Store
Thumbs.db

# Maven
target/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

.cursor/
.cursor/*

